/** Add css rules here for your application. */

/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2.0em;
	font-weight: bold;
	color: #777777;
	margin: 40.0px 0.0px 70.0px;
	text-align: center;
}.sendButton {
	display: block;
	font-size: 16.0pt;
}

/** Most GWT widgets already have a style name defined */.gwt-DialogBox {
	width: 400.0px;
}.dialogVPanel {
	margin: 5.0px;
}.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15.0px 6.0px 6.0px;
}


div#Trailer {
	padding: 10.0px 0.0;
	margin: 0.0 auto; /* standardkonforme horizontale Zentrierung */
	font-size: 80.0%;
	text-align: center;
	background: 	#66CC66;
	bottom:0.0;
	position:absolute;
	width:99%;
}

.loginButton {
	font-size: 100%;
	font-weight: bold;
}
.platzhalterLabel{
margin: 150.0px;
	text-align: center;
	   display: block;

}

.profilLabel{
	    font-weight: bold;

	text-align: center;
	   display: block;
	    margin-top:-20em;

}

.steckbriefLabel{
	font-style: italic;
margin:20.0px;
	text-align: center;
	   display: block;

}

.vornameLabel{
margin:10.0px;
	text-align: center;
	   display: block;

}

.vornameTb{
	margin:10.0px;
	text-align: center;
	   display: block;
	
}

.nachnameLabel{
margin:10.0px;
	text-align: center;
	   display: block;

}

.nachnameTb{
	margin:10.0px;
	text-align: center;
	   display: block;
	
}

.koerpergroesseLabel{
	margin: 15.0px;
	text-align: center;	
	   display: block;

}
.koerpergroesseTb{
	margin:10.0px;
	text-align: center;
	   display: block;
	
}

.haarfarbeLabel{
	margin: 10.0px;
	text-align: center;
	   display: block;

}
.dropdownHaare{
	margin:10.0px;
	text-align: center;
	   display: block;
	
}

.raucherLabel{
	margin: 10.0px;
	text-align: center;
	   display: block;

}

.dropdownRaucher{
	margin:10.0px;
	text-align: center;
	   display: block;
	
}

.religionLabel{
margin: 10.0px;
	text-align: center;
	   display: block;

}

.dropdownReligion{
	margin:10.0px;
	text-align: center;
	   display: block;
	
}

.zusinfLabel{
	font-style: italic;
	margin: 20.0px;
	text-align: center;
	display: block;

}

.buchLabel{
margin: 10.0px;
	text-align: center;
	   display: block;

}

.urlaubLabel{
margin: 10.0px;
	text-align: center;
	   display: block;

}

.sportLabel{
margin: 10.0px;
	text-align: center;
	   display: block;

}

.musikLabel{
margin: 10.0px;
	text-align: center;
	   display: block;

}


.userLabel{
	
}

.userBox{
	
}

.userLabel{
	
}

.pwBox{
	
}

.pwLabel{
	
}

.menuBar{
	top:0.0;
	position:absolute;
	font-size: 100%;
	font-weight: bold;

}
img {
	position: absolute;
	left: 32.0%;
	top: 10.0%;
}

div#Navigator {
	padding: 20.0px 0.0;
	margin: 0.0 auto; /* standardkonforme horizontale Zentrierung */
	font-size: 80.0%;
	text-align: center;
	background: 	#00BFFF;
	position:absolute;
	top:0.0;
	width:99%;
}

div#Profil{
  position:absolute;
  top:50%;
  left:50%;
  width:30em;
  height:20em;
  margin-left:-15em;
  margin-top:-10em;
	
}
div#Steckbrief{
  position:absolute;
  top:50%;
  left:50%;
  width:30em;
  height:20em;
  margin-left:-50em;
  margin-top:-10em;
	
}
div#Zusinf{
  position:absolute;
  top:50%;
  left:50%;
  width:30em;
  height:20em;
  margin-left:20em;
  margin-top:-10em;
	
}