<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">


<!-- Editor Start -->
	<!-- Servlets -->
	
	<servlet>
        <servlet-name>PartnerboerseAdministrationImpl</servlet-name>
        <servlet-class>de.hdm.Gruppe4.Paarsheep.server.PartnerboerseAdministrationImpl</servlet-class>
    </servlet>
    
	
        <servlet-mapping>
        <servlet-name>PartnerboerseAdministrationImpl</servlet-name>
        <url-pattern>/paarsheep/partnerboerseadministration</url-pattern>
         <url-pattern>/paarsheepreport/partnerboerseadministration</url-pattern>
    </servlet-mapping>
	
 <!-- Editor Ende --> 
 
   
 
 <!-- Report Start -->
 
 <servlet>
		<servlet-name>reportServlet</servlet-name>
		<servlet-class>de.hdm.Gruppe4.Paarsheep.server.report.ReportGeneratorImpl</servlet-class>
	</servlet>

 
 
 
 <servlet-mapping>
		<servlet-name>reportServlet</servlet-name>
		<url-pattern>/paarsheepreport/report</url-pattern>
	</servlet-mapping>
 
 
 <!-- Report Ende -->
 
     
 
  <!-- LOGIN Start -->       
         <!-- Servlets -->
  <servlet>
    <servlet-name>loginService</servlet-name>
    <servlet-class>de.hdm.Gruppe4.Paarsheep.server.LoginServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>loginService</servlet-name>
    <url-pattern>/paarsheep/login</url-pattern>
    <url-pattern>/paarsheepreport/login</url-pattern>
  </servlet-mapping>
	
  <!-- LOGIN Ende -->

	<!-- Default page to serve -->



	<welcome-file-list>
		<welcome-file>PaarSheep.html</welcome-file>
		<welcome-file>PaarSheepReport.html</welcome-file>
	</welcome-file-list>
	
	
	

</web-app>
